
html {
    background-color: black;
}

h3{
    text-decoration: underline;
    text-decoration-color: white;
}

header {
    background-color: #ae8b0c;
}

.column {
    background-color: #ae8b0c;
    
}

hr {
    margin: 0;
    height: 7px;
}

#task-creator {
    background-color: #7a6105;
}

#name-label, #date-label{
    flex-basis: auto;
}
