/*Color Pallete*/
/* #75F4F4 - Electric Blue*/
/* #90E0F3 - Middle Blue*/
/* #B8B3E9 - Maximum Blue Purple*/
/* #D999B9 - Kobi*/
/* #D17B88 - Shimmering Blush*/

html {
    background-color: #B8B3E9;
}

header {
    margin: 0.5rem;
}

.column {
    background-color: #D17B88;
}

hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
    height: 7px;
}